<% content_for :title do %>My Health dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is a sample Health dashboard." data-moreinfo=""></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="health-prod" data-view="Health" data-title="Prod health"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="health-stage" data-view="Health" data-title="Stage health"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="health-dev" data-view="Health" data-title="Dev health"></div>
    </li>
  </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "criticals": 0, "warnings": 1 }' \http://<%=request.host%>:<%=request.port%>/widgets/health-prod</div></center>
</div>
